.Entete  {
    height: 60px;
    margin: 0px;
    padding: 20px;
    color: #fff;
    background-color: black;
    display: flex;
    align-items: center;

    ul {
        margin: 10px 0;
        padding: 0;
        list-style: none;
        display: flex;
        font-size: 0.8em;
        justify-content: space-around;
    }
}